{{#each plantsData}}

    <div style="margin-bottom: 2em; margin-top: 2em; border-bottom: 1px solid grey; padding-bottom: 2em;">

        <img src="{{image}}" alt="" width="200">

        <br>
        <strong>{{name}}</strong>
        <br>
        {{title}}

        <br>

        <a href="{{url}}">
            {{url}}
        </a>

        <h3>From Wikipedia</h3>
        <p>
            {{summary}}
        </p>

    </div>

{{/each}}
